@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.custom-scrollbar {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  h1 {
    font-family: 'Playfair Display', serif;
  }

  h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  
body{
  background-color: rgb(253, 249, 249);
  font-family: 'Montserrat', sans-serif;
}