@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-image: url('./assets/moving.gif'); */
    /* background-color: antiquewhite; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Optional: keeps the gif fixed while scrolling */
  }